@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&family=The+Nautigal&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



body {
  text-align: center;
  color: whitesmoke;
  background-color: black;
 
}


.nav-bar {
    position: absolute;
		display: block;
		top: 5px;
		width: 100%;
    text-align: center;
}

.nav-bar ul {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0px 0px 1.2px 1.2px rgba(218, 215, 215, 0.25);
  padding: 0 24px 0 24px;
}

.nav-bar li {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  padding: 0 24px 0 24px;
}

.nav-bar .link {
  display: block;
	color: whitesmoke;
  font-size: 12px;
	letter-spacing: 3px;
	height: 55px;
  line-height: 55px;
	text-transform: uppercase; 
}

.nav-bar .link:hover {
  color: aquamarine;
}


.nav-bar .link:active {
  color: blue;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.about {
  text-align: center;
}

.page-heading  {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: rgb(171, 215, 241);
  border-radius: 15px;
  font-family: 'The Nautigal', cursive;
  letter-spacing: 2px;
  font-size: 35px;
  box-shadow: 0px 0px 1.2px 1.2px rgba(218, 215, 215, 0.05);
  position: absolute;
  left: 50%;
  top: 17%;
  margin-right: -50%;
  width: 25%;
  padding: 10px;
  transform: translate(-50%, -50%) 
}

.about-info {
  position: absolute;
  font-size: 15px;
  top: 60%;
  left: 30%;
  margin-right: -50%;
  width: 40%;
  padding: 10px;
  transform: translate(-50%, -50%);
  text-align: left;
}


.profile-img img {
  position: absolute;
  top: 32%;
  right: 10%;
  border-radius: 50%;
  width: 300px;
  height: auto;
}

.home {
  text-align: center;
  font-family: 'The Nautigal', cursive;
  letter-spacing: 2px;
 
}


.home-img img {
  border-radius: 8px;
  align-self: center;
  margin-top: 50%;
  opacity: 0.5;
  width: 300px;
  height: auto;
}

.home-img img:hover {
  opacity: 1.0;
}

.home-info-left {
  position: absolute;
  left: 10%;
  top: 40%;
  width: 20%;
 
  font-size: 55px;
}

.home-info-right {
  position: absolute;
  right: 10%;
  top: 48%;
  width: 20%;
  font-family: 'The Nautigal', cursive;
  letter-spacing: 2px;
  font-size: 30px;
}




